<!doctype html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Topbar -->
        <%- include('./partials/navbar') %>
        <!-- End of Topbar -->
        <!-- Sidebar -->
        <%- include('./partials/sidebar') %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div class="container-fluid">
            <div class="main">
                <div class="main-content">
                    <div class="row">


                        <!-- Content -->
                        <div class="col-md-9">
                            <% if (message.length > 0) { %>
                            <div class="alert alert-info text-center"><%= message %></div>
                            <% } %>
                        </div>
                        <!-- End of Content -->

                    </div>
                </div>
            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- footer -->
        <%- include('./partials/footer') %>
        <!-- end footer -->

        <!-- scripts -->
        <%- include('./partials/scripts') %>
        <!-- end scripts -->
</body>

</html>