<!doctype html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <style>
        #dataTable_filter {
            float: right
        }
    </style>
</head>

<body>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Topbar -->
        <%- include('./partials/navbar') %>
        <!-- End of Topbar -->
        <!-- Sidebar -->
        <%- include('./partials/sidebar') %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div class="container-fluid">
            <div class="main">
                <div class="main-content">
                    <div class="row">


                        <!-- Content -->
                        <div class="col-md-9">
                            <% if (message.length > 0) { %>
                            <div class="alert alert-info text-center"><%= message %></div>
                            <% } %>
                        </div>
                        <!-- End of Content -->

                    </div>
                </div>
            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- footer -->
        <%- include('./partials/footer') %>
        <!-- end footer -->

        <!-- scripts -->
        <%- include('./partials/scripts') %>

        <script src="assets/js/datatables/jquery.dataTables.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js"></script>
        <script src="assets/js/datatables/datatables-search.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script>
        <!-- end scripts -->
</body>

</html>