<!doctype html>
<html>

<head>
    <%- include('../../partials/head') %>
</head>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <%- include('../../partials/navbar') %>
        <!-- END NAVBAR -->

        <!-- Sidebar -->
        <%- include('../../partials/sidebar') %>
        <!-- End of Sidebar -->
        <div class="container-fluid">
            <div class="main">
                <div class="main-content">
                    <div class="row">
                        <!-- Sidebar -->
                        <div id="leftSpacer"></div>
                        <!-- End of Sidebar -->

                        <div class="col-md-12" id="left">
                            <% if (message.length > 0) { %>
                            <div class="alert alert-info text-center"><%- message %></div>
                            <% } %>
                            <div class="card">
                                <div class="panel">
                                    <div class="panel-heading text-center">
                                        <h3>Manage Calendar</h3>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <a data-toggle="tab" role="tab" href="#calendar"
                                                class="btn btn-lg btn-info">Calendar</a>
                                            <a data-toggle="tab" role="tab" href="#approveLeave"
                                                class="btn btn-lg btn-info">Day(s) Off Approval</a>
                                            <a data-toggle="tab" role="tab" href="#approvePermission"
                                                class="btn btn-lg btn-info">Time Off Approval</a>
                                        </div>
                                        <div class="right">
                                            <button type="button" class="btn-toggle-collapse">
                                                <i class="lnr lnr-chevron-up"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="tab-content text-center">
                                        <div class="tab-pane active" id="calendar" role="tabpanel">
                                            <%- include('components/list') %>
                                        </div>
                                        <div class="tab-pane" id="createEmployee" role="tabpanel">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
        <div class="clearfix"></div>
        <%- include('../../partials/footer') %>
    </div>
    <!-- END WRAPPER -->
    <%- include('../../partials/scripts') %>

</body>

</html>