<!doctype html>
<html>

<head>
    <%- include('../../partials/head') %>
</head>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <%- include('../../partials/navbar') %>
        <!-- END NAVBAR -->

        <!-- Sidebar -->
        <%- include('../../partials/sidebar') %>
        <!-- End of Sidebar -->
        <div class="container-fluid">
            <div class="main">
                <div class="main-content">
                    <div class="row">
                        <div id="leftSpacer"></div>
                        <div class="col-md-12" id="left">
                            <% if (message.length > 0) { %>
                            <div class="alert alert-info text-center"><%- message %></div>
                            <% } %>
                            <div class="alert alert-danger" id="passMatch" style="display:none">
                                Passwords Don't match</div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <div class="col-md-12 text-center">
                                        <h3 class="display-6 text-center"><%- person.name %></h3>
                                        <h4 class="display-6 text-center"><%- person._id %></h4>
                                        <a href="/manageUsers" class=" btn btn-lg btn-secondary text-center">Go
                                            back</a>
                                        <br>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <a data-toggle="tab" role="tab" href="#updateInfo"
                                                class="btn btn-lg btn-info">Update User Information</a>
                                            <a data-toggle="tab" role="tab" href="#updatePass"
                                                class="btn btn-lg btn-info">Update User Password</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="panel-body" style="margin-top:15%">
                                    <div class="tab-content text-center">
                                        <div class="tab-pane active" id="updateInfo" role="tabpanel">
                                            <form action="/updateUser" method="post">
                                                <div class="col-md-6">
                                                    <table class="table table-hover">
                                                        <tr>
                                                            <th>
                                                                <h4>Name</h4>
                                                            </th>
                                                            <td><input type="text" class="form-control " required name="name" value="<%- person.name %>"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <h4>Email</h4>
                                                            </th>
                                                            <td><input type="text" class="form-control " required name="email" value="<%- person.email %>"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <h4>Designation</h4>
                                                            </th>
                                                            <td><input type="text" class="form-control " required name="designation" value="<%- person.designation %>"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <h4>Date of Joining</h4>
                                                            </th>
                                                            <td>
                                                                <input type="date" required name="doj" class="form-control" value="<%- person.doj %>">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <h4>Address</h4>
                                                            </th>
                                                            <td>
                                                                <input type="text" required name="address" class="form-control" value="<%- person.address %>">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="col-md-6">
                                                    <table class="table table-hover">
                                                        <tr>
                                                            <th>
                                                                <h4>Member ID</h4>
                                                            </th>
                                                            <td><input type="text" class="form-control " required name="member_id" value="<%- person.member_id %>"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <h4>Mobile</h4>
                                                            </th>
                                                            <td>
                                                                <input type="text" name="mobile" required class="form-control" pattern="^[6789]\d{9}$"
                                                                    title="invalid phone number" value="<%- person.mobile %>">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <h4>Is Admin?</h4>
                                                            </th>
                                                            <td>
                                                                <% var opt1 = 'selected', opt2 = ''; if(person.admin) opt1 = ''; opt2='selected' %>
                                                                <select class="form-control " name="superAdmin">
                                                                    <option <%- opt1 %> value="false">No</option>
                                                                    <option <%- opt2 %> value="true">Yes</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                       
                                                        <tr>
                                                            <th>
                                                                <h4>Date of Birth</h4>
                                                            </th>
                                                            <td>
                                                                <input type="date" required name="dob" class="form-control" value="<%- person.dob %>">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <h4>Gender</h4>
                                                            </th>
                                                            <td>
                                                                <% var opt1 = 'selected', opt2 = '', opt3 = ''; 
                                                                if(person.gender == "female") opt1 = ''; opt2='selected' 
                                                                if(person.gender == "N/A") opt1 = ''; opt2=''; opt3 = 'selected' 
                                                                %>
                                                                <select class="form-control " name="gender">
                                                                    <option <%- opt1 %> value="male">Male</option>
                                                                    <option <%- opt2 %> value="female">Female</option>
                                                                    <option <%- opt3 %> value="N/A">Custom/Prefer not to discuss</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                               
                                                <input type="submit" class="btn btn-lg btn-block btn-primary"
                                                    value="Update User" />
                                            </form>
                                            <hr>

                                        </div>
                                        <div class="tab-pane" id="updatePass" role="tabpanel">
                                            <form action="/updateUserPass" method="post">
                                                <input type="hidden" name="uid" value=<%- person._id %>>
                                                <table class="table table-hover">
                                                    <tr>
                                                        <th>
                                                            <h4>Password</h4>
                                                        </th>
                                                        <td>
                                                            <input type="password" class="form-control"
                                                                pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                                                                title="Password needs to have 8 characters, 1 special, uppercase, lowercase character each and a number"
                                                                name="password" id="pass" placeholder="***********"
                                                                onkeyup="passCheck()">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            <h4>Confirm Password</h4>
                                                        </th>
                                                        <td>
                                                            <input type="text" class="form-control"
                                                                placeholder="Confirm Password" id="confirm_pass"
                                                                required onkeyup="passCheck()">
                                                        </td>
                                                    </tr>
                                                </table>
                                                <input type="submit" id="passBtn"
                                                    class="btn btn-lg btn-block btn-primary" value="Update User" />
                                            </form>
                                            <hr>

                                        </div>
                                        <hr>
                                        <a href="#deleteUserModal" data-toggle="modal"
                                            class="btn btn-danger btn-lg btn-block">Delete User</a>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <%- include('components/deleteModal') %>
                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->

        <div class="clearfix"></div>
        <%- include('../../partials/footer') %>
    </div>
    <!-- END WRAPPER -->
    <%- include('../../partials/scripts') %>
</body>

</html>