<!doctype html>
<html>

<head>
    <%- include('../../partials/head') %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css"
        rel="stylesheet">
</head>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <%- include('../../partials/navbar') %>
        <!-- END NAVBAR -->

        <div class="container-fluid">
            <div class="main">
                <div class="main-content">
                    <div class="row">
                        <!-- Sidebar -->

                        <!-- End of Sidebar -->

                        <div class="col-md-8">
                            <% if (message.length > 0) { %>
                            <div class="alert alert-info text-center"><%- message %></div>
                            <% } %>
                            <%- include('components/list') %>
                        </div>

                        <div class="col-md-4">
                            <%- include('components/create') %>
                        </div>
                    </div>


                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
        <div class="clearfix"></div>
        <%- include('../../partials/footer') %>
    </div>
    <!-- END WRAPPER -->
    <%- include('../../partials/scripts') %>
    <script src="assets/js/passwordhelper.js"></script>
    <script src="../assets/js/datatables/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="../assets/js/datatables/datatables-search.js"></script>
</body>

</html>