<!doctype html>
<html>

<head>
    <%- include('../../partials/head') %>
</head>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <%- include('../../partials/navbar') %>
        <!-- END NAVBAR -->

        <div class="container-fluid">
            <div class="main">
                <div class="main-content">
                    <div class="row">
                        <!-- Sidebar -->

                        <!-- End of Sidebar -->

                        <div class="col-md-8">
                            <% if (message.length > 0) { %>
                            <div class="alert alert-info text-center"><%- message %></div>
                            <% } %>
                            <%- include('components/list') %>
                        </div>

                        <div class="col-md-4">
                            <%- include('components/create') %>
                        </div>
                    </div>


                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
        <div class="clearfix"></div>
        <%- include('../../partials/footer') %>
    </div>
    <!-- END WRAPPER -->
    <%- include('../../partials/scripts') %>
    
</body>

</html>