<!doctype html>
<html>

<head>
    <%- include('../../partials/head') %>
</head>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <%- include('../../partials/navbar') %>
        <!-- END NAVBAR -->

        <!-- Sidebar -->
        <%- include('../../partials/sidebar') %>
        <!-- End of Sidebar -->
        <div class="container-fluid">
            <div class="main">
                <div class="main-content">
                    <div class="row">
                        <div id="leftSpacer"></div>
                        <div class="col-md-12" id="left">
                            <% if (message.length > 0) { %>
                            <div class="alert alert-info text-center"><%- message %></div>
                            <% } %>
                            <div class="card">
                                <div class="panel">
                                    <div class="tab-content text-center">
                                        <div class="tab-pane active" id="projectList" role="tabpanel">
                                            <%- include('components/list') %>
                                        </div>
                                        <div class="tab-pane" id="createProject" role="tabpanel">
                                            <%- include('components/create') %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>


                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
        <div class="clearfix"></div>
        <%- include('../../partials/footer') %>
    </div>
    <!-- END WRAPPER -->
    <%- include('../../partials/scripts') %>

</body>

</html>